/*MOBILE*/
@media (min-width:320px){
/*HEADER*/
.header{
  height: 10vh;
  background-color: rgb(87, 197, 164);
  align-items: center;
  vertical-align: middle;

}
.header-navbar{
  width: 100%;
  height: 100%;
  margin: auto;
  background-color: transparent;
  display: flex;
  color: white;
}



.navbar-brand{
  font-size: 20px;
  padding-top: 10px;
  color: white;
  font-weight: bold;
  pointer-events:none;
}
.img-header-logo{
  margin-right: 10px;
}

.nav-link{
  font-size: 17PX;
  text-align: center;
  border-width: thin;
  border-color: black;
  color: white;
  margin-left: 20px;

}

.nav-link:hover{
  color: white;
  border-bottom: solid;
  border-color: white;
  border-width: 3px;
}

.login {
  background-color: white;
  color:rgb(87, 197, 164);
  font-weight: bold;
  border: solid;
  border-color:white;
  border-width: 3px;
}
}
.login:hover{
  background-color: rgb(87, 197, 164);
  border: solid;
  border-color: white;
  border-width: 3px;
  color: white;
}

/*HOME - Banner*/
.img-fondo{
  width: 100vw;
}
.subtitulo-banner{
  width: 100%;
  align-items: center;
  display: inline-block;
  position: absolute;
  top: 25%;
  font-size: 2em;
  align-content: center;
  text-align: center;
}

.botones-sing{
  list-style: none;
  width: 100%;
  align-items: center;
  display: inline-block;
  position: absolute;
  top: 50%;
  list-style: none;
  margin: 0;

}
.botones-sing ul{
  margin-left: 0;
  padding-left: 0;
}

.botones-sing ul li {
  list-style: none;
  text-align: center;
}
.ingresar-home{
  color: white;
  background-color: rgb(87, 197, 164);
  font-size: 2em;
  padding: 15px;
  display: inline-block;
}

/*HOME - Nosotros*/
.HomeNosotros {
  overflow: hidden;
}

.img-escritor {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  float: right;
}

.home-nostitle {
  color: rgb(87, 197, 164);
  font-family: 'Shadows Into Light', cursive;
  font-size: 3em
}

.home-infonos-subtitle {
  color: grey;
    font-family: 'Montserrat', sans-serif;
}

.home-botoninfo-nos{
  list-style: none;
  width: 100%;
  align-items: left;
  display: inline-block;
  position: absolute;
  top: 50%;
  list-style: none;
  margin: 0;
}

.home-botoninfo-nos ul{
  margin-left: 0;
  padding-left: 0;
}

.home-botoninfo-nos ul li {
  list-style: none;
  text-align: left;
}

.home-nosboton {
  color: white;
  background-color: rgb(87, 197, 164);
  font-size: 2em;
  padding: 15px;
  display: inline-block;
}

/*login*/

/*reglas*/
.pregsfreq{
  width: 100%;
  margin: auto;
  margin-top: 10px;
}

.pregsfreq article{
  text-align: justify;
}

.pregsfreq h5 {
  color: rgb(87, 197, 164);
}
/*Nosotros*/

.nosotros-main{
  width: 90%;
  margin: auto;
}
.nosotros-h1{
  color: rgb(87, 197, 164);
  font-size: 2em;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.nosotros-h2{
  color: rgb(87, 197, 164);
  font-size: 1.75em;
  margin-top: 20px;
  margin-bottom: 20px;

}
/*footer*/
.footer-gnrl{
  background-color: rgb(87, 197, 164);
  height: 10vh;
  width: 100%;
  display: flex;
  align-items: center;
}
.nosotros-p{
  text-align: justify;
}
.footer{
  width: 80%;
  margin:auto;
  align-items: center;
  align-content: center;
}
.footer-brand{
  display: inline-block;
  float: left;
}

.connect {
  display: inline-block;
  float: right;
  padding-top: 12px;
}
i {
  color: white;
  font-size: 25px;
  margin-left: 10px;
}
/*Medium*/
@media (min-width:768px){
/*HEADER*/
.header{
height: 10vh;
}

.header-navbar{
width: 80%;
}

/*reglas*/
.pregsfreq{
  width: 80%;
}

.preguntasfrecuentes{
  margin-top: 20vh;
}

.titulo-pregsfreq {
  color: rgb(87, 197, 164);
  text-align: center;
}

.signup-registro{
  margin-top: 20vh;
  color: rgb(87, 197, 164);
  text-align: center;
  border-style: solid;
}

.enviar-login{
    background-color: rgb(87, 197, 164);
}

.cancelar-login{
color: rgb(87, 197, 164);
}

.main-signup {
  margin-top: 20vh;
  color: rgb(87, 197, 164);
  text-align: center;
}

.main-login {
  margin-top: 20vh;
  color: rgb(87, 197, 164);
  text-align: center;
}
/*Nosotros*/

.nosotros-main{
  width: 80%;
  margin: auto;
}
/*footer*/
.footer-gnrl{
  height: 10vh;
}


@media (min-width:1200px) {
/*HEADER*/


}

/*DESKTOP*/
