/*MOBILE*/
@media (min-width:320px){
/*HEADER*/
.header{
  height: 10vh;
  background-color: grey;

}
.header-navbar{
  width: 100%;
  height: 10vh;
  margin: auto;
  background-color: transparent;
}

.navbar-brand{
  font-size: 20px;
  width: 30%;
}
.img-header-logo{
  margin-right: 10px;
}
.nav-link{
  font-size: 15PX;
  text-align: center;
  border-width: thin;
  border-color: black;
}
}
.ul-header{
  background-color: grey;
}
/*HOME - Banner*/

.img-fondo{
  width: 100vw;
}
.subtitulo-banner{
  width: 100%;
  align-items: center;
  display: inline-block;
  position: absolute;
  top: 25%;
  font-size: 2em;
  align-content: center;
  text-align: center;
}

.botones-sing{
  list-style: none;
  width: 100%;
  align-items: center;
  display: inline-block;
  position: absolute;
  top: 50%;
  list-style: none;
  margin: 0;

}
.botones-sing ul{
  margin-left: 0;
  padding-left: 0;
}

.botones-sing ul li {
  list-style: none;
  text-align: center;
}
.ingresar-home{
  color: white;
  background-color: rgb(87, 197, 164);
  font-size: 2em;
  padding: 15px;
  display: inline-block;
}

/*HOME - Information*/
.info-home {
  overflow: hidden;

}
.img-escritor {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  float: right;
}

.info-title {
  color: rgb(87, 197, 164);
  font-family: 'Shadows Into Light', cursive;
}

.info-subtitulo{
  color: grey;
    font-family: 'Montserrat', sans-serif;
}

.botonos-info{
  list-style: none;
  width: 100%;
  align-items: left;
  display: inline-block;
  position: absolute;
  top: 50%;
  list-style: none;
  margin: 0;

}
.botonos-info ul{
  margin-left: 0;
  padding-left: 0;
}

.botonos-info ul li {
  list-style: none;
  text-align: left;
}

.nosotros-info{
  color: white;
  background-color: rgb(87, 197, 164);
  font-size: 2em;
  padding: 15px;
  display: inline-block;
}

/*login*/

/*reglas*/
.pregsfreq{
  width: 100%;
  margin: auto;
  margin-top: 10px;
}

.pregsfreq article{
  text-align: justify;
}

.pregsfreq h5 {
  color: rgb(87, 197, 164);
}

/*Medium*/
@media (min-width:768px){
/*HEADER*/
.header{
height: 15vh;
}

.header-navbar{
width: 80%;
height: 15vh;
}
/*reglas*/
.pregsfreq{
  width: 80%;
  margin: auto;
}

.preguntasfrecuentes{
  margin-top: 20vh;
}

.titulo-pregsfreq {
  color: rgb(87, 197, 164);
  text-align: center;
}

.signup-registro{
  margin-top: 20vh;
  color: rgb(87, 197, 164);
  text-align: center;
  border-style: solid;
}

.enviar-login{
    background-color: rgb(87, 197, 164);
}

.cancelar-login{
color: rgb(87, 197, 164);
}

.main-signup {
  margin-top: 20vh;
  color: rgb(87, 197, 164);
  text-align: center;
}

.main-login {
  margin-top: 20vh;
  color: rgb(87, 197, 164);
  text-align: center;
}

@media (min-width:1200px) {
/*HEADER*/


}

/*DESKTOP*/
